

<div class="horizontal-bar">
  <div class="user-tabs-wrapper">
    <div class="user-tabs-container group">
      <ul class="user-tabs-list left">
        <li class="left"><a class="active feed-links" id="followers" href="#">Followers</a></li>
        <li class="left"><a class="feed-links" id="following" href="#">Following</a></li>
      </ul>
    </div>

  </div>
</div>

<section class="content-wrapper">



    <div class="main group">
      <ul id="social-list">
      </ul>

    </div>


</section>
