<div class="social-item-wrapper">
  <div class="social-item-pic" style="background-image: url(<%= social.escape('img_profile') %>);"></div>
  <h2><%= social.username %></h2>
  <i class="material-icons md-18 follower-count">&#xE7EF;</i><span class="follower-count-text"><%= social.escape("follower_count") %></span>
</div>
