<div class="social-item-wrapper">
  <div class="social-info">
    <h2 class="social-info-username"><%= social.escape("username") %></h2><br>
    <div class="social-info-follower-count">
      <i class="material-icons md-14 follower-count-icon">&#xE7EF;</i>
      <span class="follower-count-text"><%= social.escape("follower_count") %></span>
    </div>
  </div>
  <div class="social-item-pic" style="background-image: url(<%= social.escape('img_profile') %>);"></div>

</div>
