<header id="header">
</header>

  <div id="app">
    <div>
      <ul id="notification">
        
      </ul>
    </div>
    <section id="content">

    </section>
    <div id="modal">
    </div>
  </div>


<script>
  $(document).ready(function(){
    Trackstack.initialize();

  });

</script>
