
  <div class="followable-sidebar-wrapper">
    <div class="followable-badges-title group">
      <i class="material-icons md-18 sidebar-title-icons">&#xE7EF;</i>
      <h3 class="sidebar-title left">Who to Follow</h3>
      <span class="sidebar-refresh right"><i class="material-icons material-icons md-18 sidebar-title-icons refresh-icon">&#xE042;</i>Refresh</span>
    </div>
    <ul class="followable-list">
    </ul>
  </div>


  <div class="likes-badges">
  </div>
