
  <div class="sidebar-wrapper">
    <div class="sidebar-badges-title group">
      <i class="material-icons md-18 sidebar-title-icons">&#xE7EF;</i>
      <h3 class="sidebar-title left">Who to Follow</h3>
      <!-- <span class="sidebar-refresh right"><i class="material-icons material-icons md-18 sidebar-title-icons refresh-icon">&#xE042;</i>Refresh</span> -->
    </div>
    <ul class="sidebar-list followable-list">
    </ul>
  </div>


  <div class="sidebar-wrapper">
    <div class="sidebar-badges-title group">
      <i class="material-icons md-18 sidebar-title-icons">&#xE87D;</i>
      <h3 class="sidebar-title left"><span class="likes-count">23</span> Likes</h3>
      <!-- <span class="sidebar-refresh right"><i class="material-icons material-icons md-18 sidebar-title-icons refresh-icon">&#xE042;</i>Refresh</span> -->
    </div>
    <ul class="sidebar-list likes-list">
    </ul>
  </div>
