
  <nav id="nav" class="group">
    <div class="nav-left left">
      <div class="logo-left left">
        <a href="#"><i class="material-icons md-36 logo">&#xE310;</i></a>
      </div>

      <div class="nav-buttons-left left">
        <ul class="group">
          <li class="left"><a href="#">Home</a></li>
          <li class=left><a href="#/users/<%= currentUser.id %>/following">Collection</a></li>
        </ul>
      </div>
    </div>


    <div class="nav-right right">
      <ul class="nav-buttons-right group">
        <li class="left"><a href="#/tracks/new" id="upload">Upload</a></li>

        <% if (currentUser.isSignedIn()) { %>
          <li class="left nav-dropdown" id="user-nav-dropdown" data-id="<%= currentUser.id %>"><a href="#" id="username"><div class="nav-user-photo" style="background-image: url(<%= Trackstack.currentUser.escape('img_comment') %>)"></div><%= currentUser.escape("username") %><i class="material-icons md-18 nav-arrow">&#xE313;</i></a><div class="nav-dropdown-wrapper"></div></li>
          <li class="left">


            <a href="#" id="sign-out-link">Sign Out</a>

          </li>
        <% } else { %>
          <li class="left">
            <a href="#">Sign In</a>
          </li>
        <% }; %>
      </ul>
    </div>
  </nav>
