<li class="sound-notification group">
  <div class="notify-image" style="background-image: url(<%= badgeImg %>)"></div>
  <span class="notify-text">
    <span class="notify-title">
      <%= sound.escape('title') %>
    </span><br>
      was saved to <a class="blue-link" href="#/users/<%= Trackstack.currentUser.id %>/likes">your Collection</a>.
  </div>
</li>
