<h1><%= user.escape("username") %></h1>
<h4>
  <%= user.escape("fname") %>
  <%= user.escape("lname") %>
</h4>
<button class="follow-button" data-follow-state="">Follow!</button>
<p>Followers: <%= user.followers().length %>

<a href="#">Back to Index</a>
