<div class="feed-comment-container">
  <form class="feed-comment-form">
    <div class="feed-comment-icon" style="background-image: url(<%= Trackstack.currentUser.escape('img_comment_icon') %>);"></div>
    <input class="feed-comment-input" type="text" class="form-field" name="comment[text]" placeholder="Write a comment...">
  </form>
</div>
