<div class="submitted-comment-content">
  <span class="comment-tool-tip"></span><span class="submitted-comment-author"><%= comment.escape("author") %></span>
  <span class="submitted-comment-text"><%= comment.escape("text") %></span>
</div>
