


<div class="modal-background">
  <div class="modal upload-modal">
    <div class="modal-wrapper group">
      <div class="sign-in-header-text">
        <div class="logo-wrapper">
          <div class="logo">TrackStack</div>
        </div>
    </div>

    <section class="tab-content group">
      <article id="signin-content" class="active tab-content-item">
        <form class="file-input-plugin">
          <div class="input-hider">
            <input class="file-input" id="file-input-button submit" type="file" name="user[img]" value="gfg">
          </div>
          <button class="button header-photo-button right " id="css-file-input">Save</button>

        </form>

      </article>
    </section>
  </div>
</div>
