<div class="modal-raised">
  <div class="modal upload-modal photo-modal" id="profile-photo">
    <div class="modal-wrapper group">
      <div class="modal-header">
        <div class="modal-header-text">
          <h4>Preview</h4>
        </div>
      </div>

      <section class="tab-content group">
        <article id="signin-content" class="active tab-content-item">
            <div class="image-preview-wrapper">
              <img src="" id="profile-photo-preview" height="200px">
            </div>
            <form class="file-input-plugin photo-form">
              <div class="input-hider">
                <input class="file-input file-input-button" data-form-type="#profile-photo" id="profile-file-input-button" type="file" name="user[img]">
              </div>
              <div class="modal-buttons right">
                <a href="#" class="cancel">Cancel</a> <button class="button button-orange submit">Save</button>
              </div>
            </form>


        </article>
      </section>
    </div>
  </div>
</div>
