<div class="modal-raised">
  <div class="modal upload-modal" id="cover-photo">
    <div class="modal-wrapper group">
      <div class="sign-in-header-text">
        <div class="logo-wrapper">
          <h4><%= user.escape("username") %></h4>
        </div>
      </div>

      <section class="tab-content group">
        <article id="signin-content" class="active tab-content-item">

            <label class="input-label">Image Preview COVER PHOTO</label>
            <img id="cover-photo-preview" src="" id="preview-post-image" width="400">
            <form class="file-input-plugin">
              <div class="input-hider">
                <input class="file-input file-input-button photo-form" data-form-type="#cover-photo" id="cover-file-input-button" type="file" name="user[cover_img]">
              </div>
              <button class="button button-orange submit">Save</button>
            </form>
        </article>
      </section>
    </div>
  </div>
</div>
