<div class="modal-background">
</div>

<div class="modal-raised">
  <div class="modal upload-modal" id="playlist-modal">
    <div class="modal-wrapper group">

      <div class="tabs playlist-tabs group">
        <ul class="tab-options playlist-tab-options group" data-tab-content=".tab-content">
          <li class="left"><a class="active" id="new-playlist-tab" href="#my-playlists">Add to playlist</a></li>
          <li class="left"><a class="disabled" href="#create-new-playlist">Create new</a></li>
        </ul>
      </div>


      <section class="playlist-list-wrapper">
        <section class="tab-content playlist-modal-content group">
          <ul id="my-playlists" class="active tab-content-item">


          </ul>
          <article id="create-new-playlist" class="tab-content-item" >
            <form id="new-playlist-form">

              <label class="input-label">Playlist title<span class="required-field">*</span></label><br>
                <input name="playlist[title]" type="text" class="form-field"><br>
                <br>
                <div>
                  <div class="new-playlist-track">
                    <div style="background-img=<%= track.escape('badge_img')%>;"></div>
                    <span class=""><%= track.escape("author") %></span>
                    <span class=""><%= track.escape("title") %></span>
                  </div>
                </div>
              <button class="button button-orange">Save</button><br>
            </form>
          </article>

        </section>

      </section>
    </div>
  </div>
</div>

<script>
  $(function () {
    $(".tab-options").tabs();
  });

</script>
