<div class="playlist-item">
  <div class="playlist-image">
    <div class="playlist-title">
      <h3><%= playlist.escape("title") %></h3>
    </div>
  </div>
  <div class="playlist-add-wrapper">
    <button class="button playlist-add-button" data-added-state="<%= addedState %>"></button>

  </div>
</div>
