<div class="modal-background">
</div>

<div class="modal-raised">
  <div class="modal upload-modal" id="playlist-modal">
    <div class="modal-wrapper group">
      <div class="modal-header">

        <div class="modal-header-text"><h1>Add to Playlist</h1></div>

      </div>

      <section class="playlist-list-wrapper">
        
      </section>
    </div>
  </div>
</div>
