<div class="modal-background">
</div>

<div class="modal-raised">
  <div class="modal upload-modal" id="track-upload">
    <div class="modal-wrapper group">
      <div class="modal-header">

        <div class="modal-header-text"><h1>Upload to TrackStack</h1></div>

      </div>

      <section class="tab-content group">
        <article class="active tab-content-item">

          <h1>PLAYLIST</h1>
        </article>
      </section>
    </div>
  </div>
</div>
