

  <div class="playlist-image left" style="background-image: url(<%= playlistImg %>);"></div>

  <div class="playlist-info left">
    <h3 class="playlist-title"><%= playlist.escape("title") %></h3> <img class="playlist-track-count"><span class="playlist-tracks"><%= playlist.playlistTracks().length %></span>

  </div>
  <div class="playlist-add-wrapper right">
    <button class="button playlist-add-button" data-added-state="<%= addedState %>"></button>

  </div>
