<div class="modal-background">
</div>

<div class="modal-raised">
  <div class="modal upload-modal" id="track-upload">
    <div class="modal-wrapper track-upload-wrapper">
      <div class="modal-header">

        <div class="modal-header-text"><h1>Upload to TrackStack</h1></div>

      </div>

      <section id="form-one" class="tab-content track-upload-content">
        <article id="signin-content" class="active upload-modal group tab-content-item">
            <form class="file-input-plugin track-upload-form" id="track-file-form">

              <div class="input-hider">
                <input class="file-input file-input-button" id="track-file-input-button" type="file" name="track[track]">


              </div>
            </form>
            <div class="track-upload-buttons">
              <button class="button upload-button button-orange track-file-button"><i class="material-icons md-56">&#xE2C3;</i>Choose file to upload</button>
              <button class="button upload-button" id="coming-soon"><i class="material-icons md-56">&#xE029;</i>Start New Recording</button>
            </div>
        </article>
      </section>

        <article id="form-two" class="tab-content">
              <div id="signin-content">
                <img id="loading-gif">
                <div class="track-preview">
                  <img src="" id="track-photo-preview" width="125" height="125">
                  <button class="button css-file-input track-photo-button active">
                    Update image
                  </button>
                </div>
                <form class="file-input-plugin" id="track-details-form">

                    <label class="input-label">Title<span class="required-field">*</span></label>
                    <input class="form-field" type="text" name="track[title]" id="track_title" value="">

                    <label class="input-label">Description</label>
                    <textarea class="form-field" type="text" name="track[description]" id="track_description" placeholder="Describe your track"></textarea>
                    <div class="input-hider">
                      <input class="file-input" id="track-photo-input-button" type="file" name="track[img]">
                    </div>

                    <button class="button button-orange disabled" id="save-details-button">Save</button>

                </form>
              </div>
        </article>

    </div>
  </div>
</div>
