<div class="modal-background">
  <div class="modal upload-modal">
    <div class="modal-wrapper group">
      <div class="sign-in-header-text">
        <div class="logo-wrapper">
          <div class="logo">TrackStack</div>
        </div>
    </div>

    <section class="tab-content group">
      <article id="signin-content" class="active tab-content-item">
        <form action="/session" method="post">
          <label class="input-label">Your password</label>
          <input name="user[password]" type="password" class="form-field">
          <button class="button button-orange">Sign In</button>
        </form>

      </article>
    </section>
  </div>
</div>
