/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require button
 *= require navbar
 *= require form
 *= require modal
 *= require user_show
 *= require feed_item
 */


html, body, header, nav, section, div, ul, li, a, h3, h4, h1, button, form, input {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  font: inherit;

  box-sizing: border-box;
  background: transparent;
}

header {
  width: 100%;
  height: 46px;
  background: #333;
  position: fixed;
  z-index: 10;
}

body {
  background: #f2f2f2;
  overflow-y: scroll;
  padding-bottom: 75px;
  letter-spacing: .3px;
  font-family: "Interstate", "Roboto", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

ul {
  list-style: none;
}

input {
  -webkit-appearance: none;
  box-shadow: none;
  border: 0;
}

#content {
  width: 1240px;
  height: 1500px; /* fix this */
  padding: 0 30px;
  padding-top: 46px;
  margin: 0 auto;
  background: #fff;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

h3 {
  font-size: 14px
}

.disabled {
  color: #999
}
