#audio {
  margin-top: 11px;
  position: relative;
}

#loading {
  position: absolute;
  content: image-url("loading_spinner.gif");
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.audio-button {
  position: absolute;
  border-radius: 50%;
  background: #f50;
  height: 28px;
  width: 28px;
  cursor: pointer;
  top: -47px;
}

.audio-icon {
  color: #fff;
}

.audio-icon.play-icon {
  position: absolute;
  left: 3px;
  top: 2px;
}

.audio-icon.pause-icon {
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}


#track-show-player .audio-button {
  opacity: 0;
  left: -9999px;
}

#track-show-player {
  position: relative;
  height: 100px;
  max-width: 820px;
  bottom: 115px;
}

wave {
  z-index: 2;
}
