#audio {
  margin-top: 11px;
  position: relative;
}

#progress-bar {
   background: #f50;
   opacity: .2;
   height: 70px;
   position: absolute;
   bottom: -70px;
}

#progress {
   background-color: #f50;
   height: 70px;
   transform: translateY(-100%);
   position: absolute;
   bottom: -70px;
   opacity: 1;
}

#progress.transitioning {
   opacity: 0;
   transition: opacity .3s ease-in-out;
}

.audio-button {
  position: absolute;
  border-radius: 50%;
  background: #f50;
  height: 28px;
  width: 28px;
  cursor: pointer;
  top: -47px;
}

.audio-icon {
  color: #fff;
}

.audio-icon.play-icon {
  position: absolute;
  left: 3px;
  top: 2px;
}

.audio-icon.pause-icon {
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}


#track-show-player .audio-button {
  opacity: 0;
  left: -9999px;
}

#track-show-player {
  position: relative;
  height: 100px;
  max-width: 820px;
  bottom: 115px;
}

#track-show-player #progress,
#track-show-player #progress-bar {
  height: 115px;
  bottom: -119px;
}
