#audio {
  margin-top: 20px;
}

#progress-bar {
   background: #f50;
   opacity: .2;
   height: 30px;
}
#progress {
   position: absolute;
   background-color: #f50;
   height: 30px;
   transform: translateY(-100%);

}

.audio-button {
  position: absolute;
  border-radius: 50%;
  background: #f50;
  height: 28px;
  width: 28px;
  cursor: pointer;
  top: 10px;
}

.audio-icon {
  color: #fff;
}

.audio-icon.play-icon {
  position: absolute;
  left: 3px;
  top: 2px;
}

.audio-icon.pause-icon {
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}


#track-show-player .audio-button {
  opacity: 0;
  left: -9999px;
}

#track-show-player {
  position: relative;
  height: 100px;
  max-width: 820px;
  bottom: 120px;
}

#track-show-player #progress,
#track-show-player #progress-bar {
  height: 100px;
}
