
.button {
  display: inline-block;
  position: relative;
  height: 26px;
  min-width: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-right: 5px;
  padding: 2px 11px 2px 10px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 400;
  // font-weight: 100;
  text-align: center;
  vertical-align: baseline;
}

.button-follow {
  min-width: 31px;
  margin-right: 5px;
}

.button-orange {
  background: #f50;
  border-color: #f50;
  color: #fff;
}
.button-orange-border {
  background: #fff;
  border: 1px solid #f50;
  color: #f50;
}

button[data-follow-state="false"]:after {
  content: "Follow";

}
button[data-follow-state="true"]:after {
  content: "Following";

}
button[data-like-state="false"]:after {
  content: "Like";

}
button[data-like-state="true"]:after {
  content: "Liked";

}

button[data-added-state="false"]:after {
  content: "Add to playlist";

}

button[data-added-state="false"]:hover {
  border: 1px solid #ccc;

}

button[data-added-state="true"]:after {
  content: "Added";
  color: #f50;

}

button[data-added-state="true"]:hover {
  border: 1px solid #f50;
}
