#comments-list > li {
  // position: relative;
}

.comment-wrapper {
  height: 60px;
  padding: 10px 0;
  font-size: 12px;
  opacity: 0;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  position: relative;
  top: -50px;
}

.comment-wrapper.transitioning {
  opacity: 1;
  top: 0;
  transition: opacity .2s ease-in-out .2s, top .2s ease-in .2s;
}

.comment-wrapper .show-comment-image {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-right: 12px;
}

.comment-wrapper .comment-title {
  color: #ccc;
  margin: 1px 0 3px 0;
}

.comment-wrapper .comment-author,
.comment-wrapper .track-time  {
  color: #ccc;
}

.comment-wrapper .comment-author-link,
.comment-wrapper .comment-time  {
  color: #999;
}


.comment-wrapper .comment-author-link:hover,
.comment-wrapper .comment-content {
  color: #333;
}
