.comment-wrapper {
  height: 60px;
  padding: 10px 0;
  font-size: 12px;
  // letter-spacing: .4px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif
}

.comment-wrapper .show-comment-image {
  height: 40px;
  width: 40px;
  background-size: cover;
  margin-right: 12px;
}

.comment-wrapper .comment-title {
  color: #ccc;
  margin: 1px 0 3px 0;
}

.comment-wrapper .comment-author,
.comment-wrapper .track-time  {
  color: #ccc;
}

.comment-wrapper .comment-author-link,
.comment-wrapper .comment-time  {
  color: #999;
}


.comment-wrapper .comment-author-link:hover,
.comment-wrapper .comment-content {
  color: #333;
}
