.sound-list-item {
  margin-bottom: 25px;
  position: relative;
}


.sound-list-item .feed-sound-content {
  padding-left: 136px;
  position: relative;

}

.sound-list-item .feed-sound-header {
  padding: 7px 0 0 35px;
  margin-bottom: 6px;

}

.sound-list-item .feed-sound-photo {
  height: 120px;
  width: 120px;
  background-size: cover;
}

.sound-list-item #sound-player {
  height: 60px;
  border: 1px solid green;
}

.sound-list-item .feed-sound-footer {
  margin-top: 10px;
}

.feed-sound-footer .feed-stats-list {
  margin-top: 5px;
}

.sound-list-item .feed-comment-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 5px;
}

.sound-list-item .feed-comment-form {
  width: 100%;
  position: relative;
}

.sound-list-item .feed-comment-input {
  font-size: 12px;
  letter-spacing: .6px;
  border: 1px solid #ccc;
  height: 20px;
  width: 100%;
  padding: 5px 5px 5px 30px;
}

.sound-list-item .feed-comment-icon {
  // display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-size: cover;
}
