.sound-list-item {
  margin-bottom: 25px;
  position: relative;
}


.sound-list-item .feed-sound-content {
  padding-left: 136px;
  position: relative;

}

.sound-list-item .feed-sound-header {
  padding: 7px 0 0 35px;
  margin-bottom: 6px;

}

.sound-list-item .feed-sound-photo {
  height: 120px;
  width: 120px;
  background-size: cover;
}

.sound-list-item #sound-player {
  height: 60px;
  border: 1px solid green;
}

.sound-list-item .feed-sound-footer {
  margin-top: 10px;
}
.sound-list-item .feed-sound-footer li {
  float: left;
}

.feed-sound-footer .feed-stats-list {
  margin-top: 5px;
  color: #999;
}

.feed-sound-footer .feed-stats-list li {
  margin-left: 10px;
}

.sound-list-item .feed-comment-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 5px;
  opacity: 0;
}

.sound-list-item .feed-comment-container.active {
  opacity: 1;
  transition: opacity .3s ease-in-out .1s;
}

.sound-list-item .feed-comment-form {
  width: 100%;
  position: relative;
}

.sound-list-item .feed-comment-input {
  font-size: 12px;
  letter-spacing: .6px;
  border: 1px solid #ccc;
  height: 20px;
  width: 100%;
  padding: 5px 5px 5px 30px;
  background: #fff;
}

.sound-list-item .feed-comment-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 1px;
  left: 1px;
  background-size: cover;
}

.social-buttons .button:hover {
  border: 1px solid #ccc;
}
.social-buttons .button-orange-border:hover {
  border: 1px solid #f50;
}
