.input-label {
  font-size: 16px;
  font-family: 'Interstate Light';
  margin-top: 50px;
}

.form-field {
  margin: 5px 0 10px 0;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
}

.input-hider {
  width: 0;
  height: 0;
  overflow: hidden;
}

.required-field {
  color: #f50;
  font-weight: bold;
}
