.sound-feed-stats-icon {
  color: #999;
  font-size: 14px;
  position: relative;
  margin: 0 2px;
  top: 2px;
}

.track-show-comments-icon {
  position: relative;
  top: 6px;
  margin: 0 5px;
}

.feed-stats-link:hover .feed-stats strong {
  color: #333;
}

.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }
