
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(242,242,242,.9);
  /*background: rgba(0, 0, 0, 0.41);*/
  z-index: 10;
  opacity: 0;
  transition: opacity .3s ease-in-out
}

.modal-background.transitioning {
  opacity: 1;
  transition: opacity .3s ease-in-out
}

.modal-raised.sign-in {
  opacity: 1;
}

.modal, .modal-wrapper, .tab-content {
  height: 100%;

}

.modal-raised .modal {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 450px;
  background: #fff;
  border-radius: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  box-shadow: -1.5px 1.5px rgba(0, 0, 0, 0.14),
              -2px 2px 4px rgba(0, 0, 0, 0.1),
              1.5px 0 rgba(0, 0, 0, 0.14),
              2px 0 4px rgba(0, 0, 0, 0.1);

}

.modal input {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Header Tabs */

.sign-in-modal .sign-in-header-text {
  padding: 25px 20px;
  height: 65px;
  background: #333;
  text-size: 18px;
}

.sign-in-modal .logo-wrapper {
  float: left;
}

.sign-in-modal .logo {
  color: #fff;
}

.sign-in-modal .tabs {
  float: right;
}

.tab-options a {
  padding: 7px 15px 23px 15px;
}

.tab-options a.active {
  background: #fff;
  border-radius: 10px 10px 0 0;
  color: #333;
}

.tab-content form {
  margin-top: 20px;
}

.facebook-login {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  position: relative;
}

.facebook-login a {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.facebook-login img {
  border-radius: 10px;
}

.facebook-login i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  color: #aaa;
  padding: 0 3px;
  background: #fff;
  font-weight: 400;
}

#facebook-icon {
  content: image_url('facebook_login.png');
}

/* Track Upload */
.modal .modal-header {

}

.modal .tab-content .upload-submit {
  font-size: 16px;
  font-weight: 300;
  height: 30px;

  /*left: -200%;*/

}

/* Modal Plugin Selectors */

.modal#track-upload {
  border-top: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 50%;
  top: -100%;
  transition: top .8s cubic-bezier(.39,.73,.17,.77);
  z-index: 11;
}

.modal#track-upload.transitioning {
  top: 20%;
  transition: top .5s cubic-bezier(.14,.99,.52,1);
}

.modal#cover-photo {
  border-top: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 50%;
  top: -100%;
  transition: top .8s cubic-bezier(.39,.73,.17,.77);
  z-index: 11;
}

.modal#cover-photo.transitioning {
  top: 20%;
  transition: top .5s cubic-bezier(.14,.99,.52,1);
}

.modal#profile-photo {
  border-top: 1px solid #ccc;
  position: fixed;
  top: 0;
  left: 50%;
  top: -100%;
  transition: top .8s cubic-bezier(.39,.73,.17,.77);
  z-index: 11;
}

.modal#profile-photo.transitioning {
  top: 20%;
  transition: top .5s cubic-bezier(.14,.99,.52,1);
}

.modal-raised.photo-modal {
  height: 600px;  /* remove this when increasing total modal size */
  width: 600px;
}




/* Form */

.tab-content {
  /*border: 5px solid yellow;*/
  padding: 45px 50px;
  height: auto;
}



.tab-content .button {
  margin-top: 50px;
  float: right;
}

.tab-content-item {
  display: none;
}

.tab-content-item.active {
  display: block;
}
