header nav {
  width: 1240px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  color: #ccc;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

nav * {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav .logo-left {
  background: #f50;
  width: 69px;
  color: #fff;
}

.nav-left li {
  border-right: 1px solid #111;
  width: 104px;
}

nav a, nav button  {
  display: block;
  height: 100%;
  padding: 14px 10px;
}

nav .active {
  background: #111;
  color: #fff
}

nav a:hover, nav button:hover  {
  color: #fff;
}

.sign-out {
  cursor: pointer;
}

.nav-dropdown-wrapper {
  position: absolute;
  background: #111;
  height: auto;
}

.nav-dropdown-list a {
  padding: 10px 20px;
  text-align: left;
  font-size: 12px;
  letter-spacing: .5px;
}

#user-nav-dropdown li:hover {
  background: #333;
}
