header nav {
  width: 1240px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  color: #ccc;
  font-weight: 400;
  // font-weight: 100;
  font-size: 14px;
  text-align: center;
}

nav * {
  height: 100%;
}
.left {
  float: left;
}

.right {
 float: right;
}
nav .logo-left {
  background: #f50;
  width: 69px;
  color: #fff;
}

.nav-left li {
  border-right: 1px solid #111;
  width: 104px;
}

nav a, nav input  {
  display: block;
  height: 100%;
  padding: 14px 10px;
}

.sign-out {
  cursor: pointer;
}
