
#social-list > li {
  float: left;
  width: 16.666%;
}


.social-item-wrapper {
  margin: 0 10px 10px 0;
  height: 180px;

}

.social-item-pic {
  height: 100%;
  background-size: cover;
}

.follower-count-icon {

}

.follower-count-text {

}
