.profile-cover-photo.background-img.track-show-background {
  height: 380px;
}

.track-edit .track-header-art {
  height: 340px;
  width: 340px;
  position: absolute;
  right: 0;
  top: 20px;
}
.profile-photo.track-show-photo {
  height: 100%;
  width: 100%;
}

.banner .track-show-header {
  height: 380px;
}

.profile-edit.track-edit {
  left: 0;
  height: 380px;
}

.audio-button.track-show-button {
  position: relative;
  height: 60px;
  width: 60px;
  top: 0;
}

.header-play-button {
  display: inline;
  margin-right: 10px;
}

.track-edit .track-header-author {
  font-size: 16px;
  margin-bottom: 3px;
  padding: 2px 4px;
  line-height: normal;
}


.track-edit .track-show {
  height: 340px;
  width: 340px;
}

.track-edit .track-header-title {
  font-size: 28px;
  line-height: normal;
  padding: 2px 5px;
}

.content-wrapper .comment-form-wrapper {
  height: 95px;
  border-bottom: 1px solid #eee;
}

.comment-form-wrapper .comment-form {
  height: 115px;
  background: green;
}

.track-show .show-social-buttons-left {

}
.track-show .show-comment-container {
  margin-bottom: 12px;
  position: relative;
}

.track-show .show-social-buttons-list li {
  float: left;
  height: 26px;
}

.main .main-right {
  padding-left: 150px;
}

.main-left .track-show-author-photo {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 120px;
  width: 120px;
  margin-bottom: 5px;
}

.track-author-info {
  font-size: 16px;
  float: left;
}

.track-author-info .track-author {
  margin-bottom: 5px;
}

.track-author-info .track-author-stats {
  font-size: 12px;
  color: #999;
  font-family: "Interstate Light"
}

.track-author-stats > li {
  float: left;
  position: relative;
}

.track-author-stats > li:first-child {
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.track-author-stats .track-count,
.track-author-stats .follower-count {
  position :relative;
  top: 4px;
  margin-right: 3px;
}

.track-author-stats .track-stats-link {
  position :relative;
  top: 4px;
  margin-right: 3px;
}

.track-author-stats .track-count,
.track-author-info .track-count {
  content: image-url('tracks_icon.svg');
  height: 16px;
  width: 16px;
}


.track-show.follow-button {
  top: 40px;
}
