
<div id="audio">
  <audio src="<%= trackUrl %>" class="player"></audio>
  <button class="audio-button" id="play">
    <i class="material-icons audio-icon play-icon">&#xE037;</i>
    <i class="material-icons audio-icon pause-icon">&#xE034;</i>
  </button>

  <div id="progress-bar">
  </div>
    <span id="progress"></span>
</div>
