
<div id="audio">
  <audio src="<%= trackUrl %>" id="player"></audio>
  <button class="button" id="play">Play</button>
  <button class="button" id="pause">Pause</button>
  <div id="progress-bar" style="width:400px;">
    <span id="progress"></span>
  </div>
</div>
