
<div class="modal-background modal-raised sign-in">
  <div class="sign-in-modal modal">
    <div class="modal-wrapper group">
      <div class="sign-in-header-text">
        <div class="logo-wrapper">
          <div class="logo"><i class="material-icons">&#xE310;</i>TrackStack</div>
        </div>

        <div class="tabs group">
          <ul class="tab-options group" data-tab-content=".tab-content">
            <li class="left"><a class="disabled" href="#create-account-content">Create account</a></li>
            <li class="left"><a class="active" href="#signin-content">Sign in</a></li>
          </ul>
        </div>

    </div>

    <section class="tab-content group">
      <article id="signin-content" class="active tab-content-item">

        <div class="omniauth group">
          <a href="/auth/facebook" class="facebook left"><img id="facebook-icon" width="180px"></a>
          <a href="/auth/twitter" class="twitter right"><img id="twitter-icon" width="180px"></a>
          <i>or</i>
        </div>


        <form action="#" id="signin-form" method="post">
          <label class="input-label">Your username:</label><br>
            <input id="username-signin" name="user[username]" type="text" class="form-field"><br>
          <br>
          <label class="input-label">Your password:</label><br>
          <input id="password" name="user[password]" type="password" class="form-field"><br>
          <button class="button button-orange">Sign In</button><br>
        </form>
        <button class="button" id="demo-signin">Demo Account</button>

      </article>
      <article id="create-account-content" class="tab-content-item" >
        <form action="/users" method="post" id="new-user-form">

          <label class="input-label">Enter a username:</label><br>
            <input name="user[username]" type="text" class="form-field"><br>
            <br>
          <label class="input-label">Enter a Password:</label><br>
            <input name="user[password]" type="password" class="form-field"><br>
          <button class="button button-orange">Create Account</button><br>
        </form>
      </article>

    </section>
  </div>
</div>

<script>
  $(function () {
    $(".form-field").first().focus();
    $(".tab-options").tabs();
  });

</script>
