<header>
  <nav id="nav" class="group">
    <div class="nav-left left">
      <div class="logo-left left">
        <a href="#">LOGO</a>
      </div>

      <div class="nav-buttons-left left">
        <ul class="group">
          <li class="left"><a href="#">Home</a></li>
          <li class=left><a href="#">Collection</a></li>
        </ul>
      </div>
    </div>


    <div class="nav-right right">
      <ul class="nav-buttons-right group">
        <li class="left"><a href="#/tracks/new">Upload</a></li>

        <% if current_user %>
          <li class="left nav-dropdown" id="user-nav-dropdown" data-id="<%= current_user.id %>"><a href="#"><%= current_user.username %></a></li>
          <li class="left">
            <%= button_to "Sign Out", session_url, method: :delete, class: "sign-out" %>
          </li>
        <% else %>
          <li class="left">
            <a href="<%= new_session_url %>">Sign In</a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
