<!DOCTYPE html>
<html>
<head>
  <title>Trackstack</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link href="//cloud.webtype.com/css/c1f3bb98-964c-4ac1-b3b5-de3b534124ad.css" rel="stylesheet" type="text/css" />
  <link href="//cloud.webtype.com/css/9e87e4f8-3df2-443b-aaf0-3af4dd3eed8a.css" rel="stylesheet" type="text/css" /> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <%= yield %>



</body>
</html>
